<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${head}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
	<section th:replace="components/template :: menuBar"></section>

	<div class="container">

		<h1 th:text="${titleCategoryDetail}" class="text-primary"></h1>

		<div class="card-header card py-2">

			<div th:each="category: ${categoryList}">

				<div class="card  py-2">

					<h4 th:text="${categoryNumber}+ ' ' +  ${category.id}"
						class="text-primary"></h4>

				</div>
				<div class="card py-2">
					<h4 th:text="${category.categoryName}" class="text-warning"></h4>

					<div class="card-body bg-light text-dark">

						<div
							th:if="${iCategoryService.GetOptionsByCategory(category)==null}">

							<h5 th:text="${'Nothing to show'}"></h5>

						</div>

						<div
							th:if="${iCategoryService.GetOptionsByCategory(category)!=null}">

							<div class="row">
								<div
									th:each="option: ${iCategoryService.GetOptionsByCategory(category)}">

									<h5 th:text="${option.optionName}" class="col-md-auto"></h5>
								</div>
							</div>

						</div>
					</div>
					<div class="row">

						<a
							th:href="@{'/app/admin/setup/addnewquestionoption/'+${category.id}}"
							th:text="${addOption}"
							class="btn btn-primary  col-md-2 offset-md-1"></a> <a
							th:href="@{'/app/survey/categorylistdetail/'+ ${category.id}}"
							th:text="${selectThisOption}"
							class="btn btn-success  col-md-0 offset-md-7"></a>

					</div>

				</div>

				<div class="py-1"></div>




			</div>

			<a th:href="@{'/app/admin/questionsetup/addnewcategory'}"
				th:text="${textAddNewCategory}" class="btn btn-danger"></a>


		</div>

	</div>






	<div class="fixed-bottom">
	<section th:replace="components/template :: footer"></section>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>