<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${head}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<section th:replace="components/template :: menuBar"></section>


	<section th:replace="components/template :: workingHour"></section>

	<div class="container">
		<h1 th:text="${peopleAnalyzed}" class="text-primary"></h1>

		<div th:if="${AnalyzedList.size()==0}" th:text="${nothingShow}"></div>

		<table class="col-sm-10" th:if="${!AnalyzedList.isEmpty()}">
			<thead>
				<tr class="h4">
					<th class="text-danger" th:text="${name}"></th>
					<th class="text-danger" th:text="${lastName}"></th>
					<th class="text-danger" th:text="${birthday}"></th>
					<th class="text-danger" th:text="${country}"></th>
					<th class="text-danger" th:text="${email}"></th>

				</tr>
			<tbody>
				<tr th:each="person: ${AnalyzedList}">
					<td class="h5">
						<ul>
							<li><a
								th:href="@{'survey/peopletestedprofile/'+ ${person.email}}"
								th:text="${person.firstName}"></a></li>
						</ul>
					</td>

					<td th:if="${person.lastName}" th:text="${person.lastName}"></td>
					<td th:if="!${person.lastName}" th:text="${noData}"></td>


					<td th:text="${#dates.format(person.birthday,'dd/MM/yyyy')}"></td>


					<td th:text="${person.country.name}"></td>


					<td th:text="${person.email}"></td>

				</tr>

			</tbody>
		</table>

		<div>
			<img class="rounded mx-auto d-block" th:src="@{/images/ANALYZED.jpg}"
				width="200" height="200"></img>
		</div>
	</div>

	<section th:replace="components/template :: interceptor"></section>

</body>
</html>
