<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
	<div class="container">
		<h2 class="color-blue" th:text="${fieldPeopleTestedEmail}"></h2>
		<h3 th:text="${peopleSearched.email}"></h3>
		<h2 class="color-blue" th:text="${fieldPeopleTestedBirthday}"></h2>
		<h3 th:text="${peopleSearched.birthday}"></h3>
		<h2 class="color-blue" th:text="${fieldPeopleProfileFirstName}"></h2>
		<h3 th:text="${peopleSearched.firstName}"></h3>
		<h2 class="color-blue" th:text="${fieldPeopleTestedCountry}"></h2>
		<h3 th:text="${peopleSearched.country}"></h3>
		<h2 class="color-blue" th:text="${fieldPeopleTestedLastName}"></h2>
		<h3 th:if="${peopleSearched.lastName!=null}" th:text="${peopleSearched.lastName}"></h3>
		<h3 th:if="${peopleSearched.lastName==null}" th:text="${incompleteField}"></h3>

	</div>
</body>
</html>
