<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
	<div class="container">
		<div class="container">
			<h1 th:text="${titlePeopleTested}" class="text-primary"></h1>
			<div class="container">
				<h2 class="text-danger" th:text="${fieldPeopleTestedEmail}"></h2>
				<h3 th:text="${peopleSearched.email}"></h3>
				<h2 class="text-danger" th:text="${fieldPeopleTestedBirthday}"></h2>
				<h3 th:text="${peopleSearched.birthday}"></h3>
				<h2 class="text-danger" th:text="${fieldPeopleProfileFirstName}"></h2>
				<h3 th:text="${peopleSearched.firstName}"></h3>
				<h2 class="text-danger" th:text="${fieldPeopleTestedCountry}"></h2>
				<h3 th:text="${peopleSearched.country.name}"></h3>
				<h2 class="text-danger" th:text="${fieldPeopleTestedLastName}"></h2>
				<h3 th:if="${peopleSearched.lastName!=null}"
					th:text="${peopleSearched.lastName}"></h3>
				<h3 th:if="${peopleSearched.lastName==null}"
					th:text="${incompleteField}"></h3>

			</div>

			<a th:href="@{/app/peopleanalyzed}" class="btn btn-success"
				th:text="${back}"></a>

		</div>
	</div>
</body>
</html>
