<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${tab}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<section th:replace="components/template :: menuBar"></section>
	<div class="container">
		<h1 th:text="${titleListQuest}"
			class="text-primary border border-primary border-top-0 border-left-0 border-right-0 border-bottom-5 p-2 "></h1>


		<div class="card">

			<table class="col-sm-16" th:if="${!surveyQuestion.isEmpty()}">


				<thead class="card-header">
					<tr class="h4">
						<th class="text-danger" th:text="${questionTitleCard}"></th>
<!-- 						<th class="text-danger" th:text="${edit}"></th> -->
					</tr>
				<tbody class="card-body">

					<tr th:each="question: ${surveyQuestion}">

						<td>
							<div>
								<h5 th:text="${question.question}"></h5>
							</div>
						</td>

						<td>

							<div>
<!-- 								<a th:href="@{'/app/survey/question/edit/'+ ${question.id}}" -->
<!-- 									th:text="${edit}" class="btn btn-success"></a> -->
							</div>
						</td>

					</tr>

				</tbody>

			</table>


			<div th:if="${#lists.isEmpty(questionsIncluded)}">
				<h5  th:text="${NoRegistersOnList}"></h5>
			</div>


		</div>
		<div>
			<a th:href="@{/app/survey/question/questionlist}"
				th:text="${addQuestionToTest}" class="btn btn-danger"></a>
		</div>



	</div>

	<section th:replace="components/template :: footer"></section>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>