<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${tab}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<section th:replace="components/template :: menuBar"></section>
	<div class="container">
		<h1 th:text="${title}" class="text-primary"></h1>


		<form th:action="@{type}" th:object="${allQuestionChosenValues}"
			method="post">


			<div class="h5">

				<div th:if="${questionList.size()==0}" th:text="${nothingShow}"></div>


				<div th:each="question: ${questionList}">


					<div class="form-group row">
						<label class="col-form-label col-sm-5"
							th:text="${question.question}"></label>

						<div class="col-form-label col-sm-2" 
						th:each="val: ${posibleValues}">

							<input type="radio" th:value="${val}"
							
							>
							
<!-- 								th:field="*{question.chosenValue}"						 -->


							 <label
							class="col-form-label col-sm-2"
								th:for="${val}" th:text="${val}"></label>
						</div>
					</div>
				</div>
			</div>



			<div class="form-group row">
				<div class="col-sm-4">
					<input type="submit" class="btn btn-primary">
				</div>
			</div>
		</form>
	</div>



</body>
</html>